:root {
    --primary-color: #343a40;
    --secondary-color: #0dcaf0;
}

body {
    background-image: url('../images/world.jpg');
    background-size: cover;
}

.logo {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: #3a47a6;
}

.title {
    color: white;
    text-shadow: 0 0 2px black;
}

.variables {
    border-bottom: solid 3px #0dcaf0;
}

.temp-conditions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.min-max {
    display:flex;
    flex-direction: column;
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-name {
    border-bottom: solid 3px #0dcaf0;
}

#right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* #current-weather */

#current-temp {
    font-size: 50px;
}